html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* tab styles */
@media (max-width: 1439px) and (min-width: 768px) {
  #burger {
    display: none;
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-right: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
  }
  .nav-items-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 40%;
  }
  .nav-items-list > li {
    margin: 0 0.5rem;
  }
  #br-only-nav {
    display: inline;
  }
  #divider {
    display: none;
  }
  #call-now {
    position: absolute;
    top: 40px;
    right: 20%;
    margin-inline: auto;

    width: 100%;
  }
  .trans-text {
    color: transparent;
    font-size: 64px;
    width: 100%;
    margin: 0px;
    margin-top: 2rem;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    -webkit-text-stroke: 1px #ffffff;
  }
  #br-only {
    display: none;
  }
  .heading {
    margin-top: 1rem;
    color: #ffffff;
    font-size: 64px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
  }

  #heading-trans {
    color: #ffffff;
    font-size: 36px;

    font-weight: 700;
  }
  .we-trans-mobile,
  .understand-mobile {
    display: none;
  }
  .we-trans {
    color: transparent;
    font-size: 36px;
    margin-left: 3rem;
    font-weight: 700;
    -webkit-text-stroke: 1px #333333;
  }
  .understand {
    color: #333333;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .upper-section {
    background-image: url(./assets/background.png);
    background-size: cover;
    height: 100%;
    padding-bottom: 1rem;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .home-section {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .left-home {
  }
  .text-row-col {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .text-row-col-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
  }
  .text-row > i {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    align-self: flex-start;
  }
  i > strong {
    font-weight: 800;
  }

  .right-home {
    width: 472px;
    text-align: center;
    border-radius: 12px;
    height: 449px;
    margin-bottom: 2rem;
    background-image: linear-gradient(#2a7d6c, #3e69609e);
  }
  .right-home > h2 {
    font-weight: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 2rem;
  }
  .input-grp {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  input {
    width: 200px;
    margin: 0.5rem;

    background-color: transparent;
    border: 1px solid rgba(254, 254, 254, 0.25);
    height: 48px;
    padding: 0 1rem;
    outline: none;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16;
    border-radius: 2px;
  }
  .subtext {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 24px;
    margin: 1rem;
  }
  .wave {
    display: none;
  }
  #wave {
    display: none;
  }
  ::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Montserrat", sans-serif;
    font-size: 16;

    font-weight: 400;
  }
  button {
    cursor: pointer;
  }
  .error {
    border: 1px solid #ff7777;
    border-radius: 2px;
  }
  .error::placeholder {
    color: #ff7777; /* Red or a color indicating an error */
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 16;
  }

  #select-input {
    margin: 1rem;
    margin-bottom: 2rem;
  }
  select {
    width: 284px;
    background-color: transparent;
    border: 1px solid rgba(254, 254, 254, 0.25);
    height: 50px;
    padding: 0 1rem;
    outline: none;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16;
    border-radius: 2px;
    font-weight: 400;
  }
  select > option {
    color: #000000;
    background-color: #5bc8af;
    font-family: "Montserrat", sans-serif;
  }
  #submit-btn {
    text-align: center;
    border-radius: 4px;
    width: 221px;
    border: none;
    height: 56px;
    background-color: #5bc8af;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  button > img {
    margin-right: 5px;
  }
  .mid-section {
    margin: 1rem;
  }

  .img-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .img-grid-img {
    width: 224px;
    height: 128px;
  }

  .text-grid {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
  }
  .text-grp {
    display: none;
  }
  .text-grp-col-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
  .text-grp-col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 50px;

    line-height: 24px;
    color: #333333;
  }
  .text-grp-text {
    width: 371px;

    margin: 1rem;
  }
  .text-grp-text-last > .text-grp-text {
    align-self: flex-start;
    margin-top: -35%;
  }

  #rate {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #5bc8af;
    text-align: center;
    color: #5bc8af;
    margin: 0px auto;
    margin-top: 2rem;
    background-color: transparent;
    width: 328px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 700;
    font-size: 18px;
  }
  #rate > img {
    margin-left: 1rem;
  }

  .testimonial-card-container {
    display: none;
  }

  .testimonial-swiper {
    margin: 0 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .testimonial-section {
    display: flex;
    margin-top: 2rem;

    justify-content: space-between;
  }
  .testimonial {
    height: "100%";
    padding: 1rem 5rem;
    margin-left: 1rem;
    background-color: #194d44;
  }
  .testimonial > div > h2 {
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    line-height: 34px;
  }
  .testimonial > i {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
  }

  .image-container {
    position: absolute;
    top: -40px;
    left: 40%;
    transform: translateX(-50%);
    width: 180px;
    height: 180px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .name {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 2rem;
    text-align: left;
    color: #ffffff;
  }

  .usp-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem;
  }
  .text-row {
    display: none;
  }
  .text-row-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 1rem;
  }
  .usp-grid {
    margin: 20px auto;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
  }
  .usp-grid-item {
    background-color: transparent;
    cursor: pointer;
    padding: 25px 10px;
    position: relative;
    width: 90%;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border: 2px solid #5bc8af;
    border-radius: 4px;
  }
  .usp-grid-item[title]:hover::after {
    content: attr(title);
    position: absolute;
    bottom: -50%;
    left: 5%;
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    height: 60px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 8px;

    background-color: #297c6b;
  }
  .video-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem 3rem;
  }
  .video-section > div > h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
  }
  .video-section > div > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
  }
  #video-title {
    align-self: center;
    color: transparent;
    font-size: 44px;

    margin-bottom: 2px;
    font-weight: 700;
    line-height: 48px;
    -webkit-text-stroke: 1px #ffffff;
  }
  .footer-img {
    position: relative;
  }
  #logo-icon {
    position: absolute;
    bottom: 0%;
    right: 10%;
    margin-inline: auto;

    width: fit-content;
  }
  .play-icon {
    position: absolute;
    top: 20%;
    right: 35%;
    margin-inline: auto;

    width: fit-content;
  }
  .footer-img-img {
    /* width: 100%; */
    /* 
    height: 700px; */
    object-fit: cover;
  }
  .video-container {
    background-color: #194d44;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding: 0.5rem 1rem;
  }
  .footer-txt {
    font-size: 14px;
    font-weight: 400;

    color: #757575;
  }
  .nav-items-list > li:hover {
    color: #5bc8af;
  }
  .usp-grid-item:hover {
    color: #5bc8af;
  }
  .ft-text:hover {
    color: #5bc8af;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2rem 2px;
    background-color: #eaeaea;
    border-radius: 100%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #5bc8af;
  }

  /* Fading animation */
  .slide {
    animation: slideIn 3s 1;
  }
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(&quot;background.jpg&quot;);
    background-size: cover;
    z-index: -1;
  }
  #popup {
    cursor: pointer;
  }
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #000;
    cursor: pointer;
  }
  @keyframes slideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    10%,
    30% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
